<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">


	<bean id="sqlSessionFactory" class="com.codyy.data.sqlparse.OlapSqlSessionFactory">
		<property name="configLocation">
			<value>classpath:spring/mybatis-config.xml</value>
		</property>
		<property name="mapperLocations" value="classpath*:com/codyy/data/**/mapper/*.xml" />
	</bean>
	
	 <bean id="sqlHeper" class="com.codyy.data.sqlparse.SqlHeper">
		<property name="olapSqlSessionFactory" ref="sqlSessionFactory" /> 
	</bean> 
	 
</beans>
	
